  body{
    text-align:center;
    font-family:Open Sans,sans-serif;
    background-color:#3d1119;
    color:#d1ad8c;
    margin: 0px0px30px0px;
  }

  button{
    background: #41f341;
    border: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 3px;
  }

  h2{
    color:#d6b6d1;
    font-size:40px;
  }

  .titulo-verde{
    color:#ff9e9e;
  }

  .titulo-vermelho{
  color:#ff9e9e;
  }

  .titulo-amarelo{
  color:#ff9e9e;
  }

  section{
    width:60%;
    margin: 0 auto;
  }

  section section{
  width:100%;
  }

  h1{
    font-size:60px;
    font-weight:300;
  }

  h3{
    font-size:22px;
    font-style:italic;
  }

  p{
    line-height:1.5;
    font-size:20px;
  }

  img{
    width:100%;
  }

  ul{
    list-style-type:none;
    line-height:2;
    padding-left:0;
  }

  a{
    text-decoration:none;
    color:#d6b6d1;
    font-weight:700;
    }

  .principal{
    background-color:#f7f083;
    height: 40px;
    max-width: 60%;
    margin: 0 auto;
  }

  .principal a{
    color:#330e1e;
    text-decoration:underline;
    font-weight:normal;
  }

  .principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
  }

  